* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

/* FRAMEMWORK */
.container{
  width: 1170px;
  margin: 0 auto;
}


.box{
  padding: 15px;
  background-color: teal;
  color: white;
  text-align: center;
  border: 1px solid white;
}